:root {
    --main-color: #2196F3;
    --main-text-color:#757575;
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --font-bold: font-weight: bold;
    --main-background: #FFFFFF;
    --service-bacground: #2F303A;
    --service-text: #FFFFFF;
    --our-team-background:#F5F4FA;
    --secondary-text-color:#212121;
}

body {
    font-family: var(--main-font);
    color: var(--main-text-color);
}
/* ==========HEADER============ */

.header{
    background-color: var(--main-background);
}

.logo-part{
    color: var(--main-color);
}
.navigation-logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    
    color: var(--main-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--main-color);
}
.navigation-list-link:visited {
color: var(--main-text-color);
}

.address-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.address-mail:focus,
.address-mail:hover{
    color: var(--main-color);
}

.phone-number {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.phone-number:focus,
.phone-number:hover{
    color: var(--main-color);
}
/* ==========END HEADER============ */
/* =============MAIN============ */
.service {
    background-color: var(--service-bacground);
    color: var(--service-text);
}

.service-button {
    background-color: var(--main-color);
    color: var(--service-text);
    cursor: pointer;
}

.text-content {

}
.our-team-images{
background-color: var(--our-team-background);
}
.text-content-header > body{
    color: var(--secondary-text-color);
}

.text-content{
    color: var(--main-text-color);
}
/* =============END MAIN============ */
